body {
    background: white !important;
}


.side-bar {
    background: rgba(240, 244, 243, 1);
    padding-top: 50px;
    min-height: 100vh;
    width: 293px;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.side-bar-0 {
   width: 0;
}
.side-bar-0 ul {
    display: none;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-content-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 293px;
}

.transition {
    transition: all 0.2s ease-in-out;
    /*transition: width 2s, height 2s, background-color 2s, transform 2s;*/
}

.side-bar ul {
    list-style-type: none;
}
.side-bar ul h4{
    margin-bottom: 27px;
    font-weight: 600;
    color: #263238;
    line-height: 23px;
}
.side-bar ul li{
    font-size: 22px;
    margin-bottom: 35px;
    font-weight: 500;
    color: #888888;
}
.blue-text {
    color: #4C6ED7;
}
.blue-button {
    background: rgba(76, 110, 215, 0.9);
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    border: none;
    font-weight: 500;
}
.red-text {
    color: red;
}
.first-step h1 {
    margin-bottom: 75px;
}
.first-step ul{
    list-style-type: none;
    padding-left: 0;
}
.first-step ul li{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 57px;
}

.question-box {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #263238;
    background-color: rgba(151, 151, 151, 0.05);
    border-radius: 10px;
    border: none;
    padding: 15px 80px;
    margin-bottom: 80px;
    text-align: center;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-cards {
    background: #FDFDFD;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 95px;
}

.input-cards img {
    height: 90px;
    margin-bottom: 15px;
}

.input-cards h4 {
    padding-left: 20px;
    font-weight: 700;
    font-size: 17px;
}

.input-cards input {
    width: 30px;
    height: 30px;
    padding-right: 20px;
    margin-bottom: 55px;
}
.third-step input {
    width: 400px;
    height: 40px;
    border: 1px solid #4C6ED7;
    border-radius: 6px;
    margin-bottom: 300px;
    padding: 7px;
}
.days-box {
    background: #FFFFFF;
    border: 1px solid #4C6ED7;
    padding: 20px;
    width: 370px;
    border-radius: 8px;
    padding-left: 40px;
    margin-bottom: 90px;
}
.days-box label {
    font-size: 16px;
    line-height: 27px;
}
.page-wrapper {
    padding-left: 25%;
    padding-top: 5%;
}
@media (max-width: 767.98px) {
    .page-wrapper {
        padding-left: 5% !important;
    }
    .third-step input {
        margin-bottom: 20px;
    }
    .main-content-1 {
        /*display: none;*/
        overflow-x: hidden;
    }
    .side-bar {
        width: 80%;
        overflow-x: hidden;
    }
    .blue-button {
        width: 100%;
    }
}
